.chatroom {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
}

.chatroom-loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}